# One Sample T test

In [1]:
ages=[11,12,45,23,21,20,14,56,25,35,11,16,27,28,40,34,25,26,28,39,18,10,9,32,25,27,29,34,70,50,60,44,52,51,44,43,35]

In [2]:
len(ages)

37

In [3]:
import numpy as np

In [4]:
am=np.mean(ages)
am

31.594594594594593

In [5]:
size=10
age_sample=np.random.choice(ages,size)

In [6]:
age_sample

array([70, 29, 16, 56, 40, 40, 25, 18, 35, 32])

In [7]:
from scipy.stats import ttest_1samp

In [8]:
ttest,pvalue=ttest_1samp(age_sample,32)
print(pvalue)

0.4564822332077413

In [9]:
if pvalue<=0.05:
    print("Rejecting null")
else:
    print("accepting null")

accepting null

# Advanced example (Using possion distribution)

In [10]:
import numpy as np
import pandas as pd
import scipy.stats as stat
import math

In [11]:
np.random.seed(6)

In [16]:
s_a=stat.poisson.rvs(loc=18,mu=35,size=1500)
ca_a=stat.poisson.rvs(loc=18,mu=30,size=60)

In [17]:
ca_a.mean()

47.13333333333333

In [18]:
ttest,pvalue=stat.ttest_1samp(a=ca_a,popmean=s_a.mean())

In [19]:
s_a.mean()

53.248

In [20]:
if pvalue<=0.05:
    print("Rejecting null")
else:
    print("accepting null")

Rejecting null

# 2 Sample Test

In [23]:
np.random.seed(12)
cb_a=stat.poisson.rvs(loc=18,mu=33,size=60)

In [24]:
cb_a.mean()

50.63333333333333

In [25]:
ttest,pvalue=stat.ttest_ind(a=ca_a,b=cb_a,equal_var=False)

In [26]:
if pvalue<=0.05:
    print("Rejecting null")
else:
    print("accepting null")

Rejecting null

# Paired Test

In [56]:
w1=[20,34,21,34,23,45,34,24,35,30,29,26,24,34,25]
w2=w1+stat.poisson.rvs(loc=3,mu=1.15,size=15)

In [57]:
print(w1)
print(w2)

[20, 34, 21, 34, 23, 45, 34, 24, 35, 30, 29, 26, 24, 34, 25]
[23 37 26 38 27 50 37 27 39 33 34 29 28 37 28]

In [58]:
df=pd.DataFrame({'w1':np.array(w1),'w2':np.array(w2),'Diff':np.array(w2)-np.array(w1)})

In [59]:
df.head()

   w1  w2  Diff
0  20  23     3
1  34  37     3
2  21  26     5
3  34  38     4
4  23  27     4

In [60]:
ttest,pvalue=stat.ttest_rel(a=w1,b=w2)

In [61]:
if pvalue<=0.05:
    print("Rejecting null")
else:
    print("accepting null")

Rejecting null