In [16]:
import numpy as np
import pandas as pd
import scipy.stats as stat
df=pd.read_csv('187.tips.csv')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df_t=pd.crosstab(df['sex'],df['smoker'])

In [10]:
df_t

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [15]:
print(f"Observerd values:\n{df_t.values}")

Observerd values:
[[54 33]
 [97 60]]

In [18]:
val=stat.chi2_contingency(df_t)

In [19]:
val

(0.008763290531773594,
 0.925417020494423,
 1,
 array([[53.84016393, 33.15983607],
        [97.15983607, 59.84016393]]))

In [20]:
ex=val[3]

In [21]:
row=len(df_t.iloc[0:2,0])
col=len(df_t.iloc[0,0:2])

In [23]:
ddfo=(row-1)*(col-1)

In [24]:
print(ddfo)

1

In [26]:
alpha=0.05

In [28]:
from scipy.stats import chi2

In [33]:
ch_s=sum([(o-e)**2/e for o,e in zip(df_t.values,ex)])
ch_stat=ch_s[0]+ch_s[1]

In [34]:
ch_stat

0.001934818536627623

In [36]:
cval=chi2.ppf(q=1-alpha,df=ddfo)

In [37]:
cval

3.841458820694124

In [38]:
 pval=1-chi2.cdf(x=ch_stat,df=ddfo)

In [39]:
pval

0.964915107315732

In [40]:
if pval<=alpha:
    print("reject h0,there is relationship")
else:
    print("There is no relationship")

There is no relationship